openapi: 3.1.0
info:
  title: LibreHousehold API
  description: "This API allows interaction with the backend of LibreHousehold, an open-source household management system."
  version: 1.0.0
  contact:
    name: LibreHousehold Maintainer Nicklas
    url: https://librehousehold.wiegandt.eu
    email: nicklas+librehousehold@wiegandt.eu
servers:
  - url: https://api.librehousehold.wiegandt.eu/v1
    description: The production server for LibreHousehold API
  - url: http://localhost
    description: Local development mokapi server
tags:
  - name: household
    description: Operations related to households
  - name: tasks
    description: Operations related to tasks
  - name: reimbursements
    description: Operations related to reimbursements
  - name: statistics
    description: Aggregated statistics for a household over a given time period
paths:
  /household:
    post:
      summary: Create a new household
      description: Creates a new household and sends a mail to the specified email address for the admin of the household.
      tags:
        - household
      operationId: createHousehold
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Household"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Household"
        "400":
          description: The data for the new household is invalid.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        "409":
          description: The household already exists.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        default:
          description: An error occurred - see the status code and problem for more information.
          content:
            "application/problem+json":
              schema:
                $ref: '#/components/schemas/Problem'

  /household/{householdId}/members:
    get:
      summary: Get all members of a household
      description: Retrieves all members of the specified household.
      tags:
        - members
      operationId: getMembers
      parameters:
        - name: householdId
          in: path
          required: true
          description: The unique identifier of the household.
          schema:
            type: string
            format: uuid
            example: "f3ce1a6b-aba1-478d-9f01-ec484f23ce60"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Member"
        "404":
          description: No household found with the specified ID.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        default:
          description: An error occurred - see the status code and problem for more information.
          content:
            "application/problem+json":
              schema:
                $ref: '#/components/schemas/Problem'
    post:
      summary: Add a new member to a household
      description: Adds a new member to the specified household.
      tags:
        - members
      operationId: createMember
      parameters:
        - name: householdId
          in: path
          required: true
          description: The unique identifier of the household.
          schema:
            type: string
            format: uuid
            example: "f3ce1a6b-aba1-478d-9f01-ec484f23ce60"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Member"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Member"
        "400":
          description: The data for the new member is invalid.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        "404":
          description: No household found with the specified ID.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        "409":
          description: The member already exists.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        default:
          description: An error occurred - see the status code and problem for more information.
          content:
            "application/problem+json":
              schema:
                $ref: '#/components/schemas/Problem'

  /household/{householdId}/members/{memberId}:
    get:
      summary: Get a specific member of a household
      description: Retrieves a specific member of the specified household.
      tags:
        - members
      operationId: getMember
      parameters:
        - name: householdId
          in: path
          required: true
          description: The unique identifier of the household.
          schema:
            type: string
            format: uuid
            example: "f3ce1a6b-aba1-478d-9f01-ec484f23ce60"
        - name: memberId
          in: path
          required: true
          description: The unique identifier of the member.
          schema:
            type: string
            format: uuid
            example: "7c3a40a8-3f57-4645-8cf5-820a6a8d3613"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Member"
        "404":
          description: No household or member found with the specified IDs.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        default:
          description: An error occurred - see the status code and problem for more information.
          content:
            "application/problem+json":
              schema:
                $ref: '#/components/schemas/Problem'
    patch:
      summary: Update a member's profile
      description: Updates the display name and/or email address of a household member.
      tags:
        - household
      operationId: updateMember
      parameters:
        - name: householdId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: memberId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MemberUpdate'
      responses:
        "200":
          description: Member updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Member'
        "404":
          description: Member not found.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        default:
          description: An error occurred.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    delete:
      summary: Remove a member from the household
      description: Removes the specified member from the household. Can only be performed by the household admin.
      tags:
        - household
      operationId: removeMember
      parameters:
        - name: householdId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: memberId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: Member removed.
        "404":
          description: Member not found.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        default:
          description: An error occurred.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'

  /household/{householdId}/tasks:
    get:
      summary: Get all tasks of a household
      description: Retrieves all tasks of the specified household. Returns an empty list if no tasks exist.
      tags:
        - tasks
      operationId: getTasks
      parameters:
        - name: householdId
          in: path
          required: true
          description: The unique identifier of the household.
          schema:
            type: string
            format: uuid
            example: "f3ce1a6b-aba1-478d-9f01-ec484f23ce60"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Task"
        "404":
          description: No household found with the specified ID.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        default:
          description: An error occurred - see the status code and problem for more information.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    post:
      summary: Create a new task
      description: Creates a new tasks.
      tags:
        - tasks
      operationId: createTask
      parameters:
        - name: householdId
          in: path
          required: true
          description: The unique identifier of the household.
          schema:
            type: string
            format: uuid
            example: "f3ce1a6b-aba1-478d-9f01-ec484f23ce60"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Task"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Task"
        "400":
          description: The data for the new task is invalid.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        "404":
          description: No household found with the specified ID.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        "409":
          description: The task already exists.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        default:
          description: An error occurred - see the status code and problem for more information.
          content:
            "application/problem+json":
              schema:
                $ref: '#/components/schemas/Problem'

  /household/{householdId}/tasks/{taskId}:
    patch:
      summary: Update a task
      description: Partially updates a task. Only the fields provided in the request body will be updated.
      tags:
        - tasks
      operationId: updateTask
      parameters:
        - name: householdId
          in: path
          required: true
          description: The unique identifier of the household.
          schema:
            type: string
            format: uuid
            example: "f3ce1a6b-aba1-478d-9f01-ec484f23ce60"
        - name: taskId
          in: path
          required: true
          description: The unique identifier of the task.
          schema:
            type: string
            format: uuid
            example: "760e8400-e29b-41d4-a716-446655440000"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TaskUpdate"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Task"
        "400":
          description: The data for updating the task is invalid.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        "404":
          description: No household or task found with the specified ID.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        default:
          description: An error occurred - see the status code and problem for more information.
          content:
            "application/problem+json":
              schema:
                $ref: '#/components/schemas/Problem'

  /household/{householdId}/financials/{userId}/summary:
    get:
      summary: Get financial summary
      description: Retrieves the total amounts the specified user owes and is owed.
      tags:
        - financials
      operationId: getFinancialSummary
      parameters:
        - name: householdId
          in: path
          required: true
          description: The unique identifier of the household.
          schema:
            type: string
            format: uuid
            example: "f3ce1a6b-aba1-478d-9f01-ec484f23ce60"
        - name: userId
          in: path
          required: true
          description: The unique identifier of the user for whom the summary is requested.
          schema:
            type: string
            format: uuid
            example: "7c3a40a8-3f57-4645-8cf5-820a6a8d3613"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FinancialSummary"
        "404":
          description: No household found.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        default:
          description: Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'

  /household/{householdId}/financials/{userId}/balances:
    get:
      summary: Get balances per member
      description: Retrieves the balance for each member relative to the specified user.
      tags:
        - financials
      operationId: getMemberBalances
      parameters:
        - name: householdId
          in: path
          required: true
          description: The unique identifier of the household.
          schema:
            type: string
            format: uuid
            example: "f3ce1a6b-aba1-478d-9f01-ec484f23ce60"
        - name: userId
          in: path
          required: true
          description: The unique identifier of the user for whom the balances are requested.
          schema:
            type: string
            format: uuid
            example: "7c3a40a8-3f57-4645-8cf5-820a6a8d3613"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/MemberBalance"
        default:
          description: Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'

  /household/{householdId}/expenses/debts/{payerId}/{debtorId}:
    get:
      summary: Get expenses forming a debt
      description: |
        Retrieves all expenses paid by `payerId` where `debtorId` is involved (either explicitly in `splitBetween` or implicitly if `splitBetween` is empty).
        This helps understanding why `debtorId` owes money to `payerId`.
        It should only return expenses that are not yet fully reimbursed (though partial reimbursement tracking is TBD).
      tags:
        - expenses
      operationId: getDebtorExpenses
      parameters:
        - name: householdId
          in: path
          required: true
          description: The unique identifier of the household.
          schema:
            type: string
            format: uuid
        - name: payerId
          in: path
          required: true
          description: The unique identifier of the user who paid.
          schema:
            type: string
            format: uuid
        - name: debtorId
          in: path
          required: true
          description: The unique identifier of the user who owes money for these expenses.
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Expense"
        default:
          description: Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'

  /household/{householdId}/categories:
    get:
      summary: Get all categories
      description: Returns all expense categories for the specified household.
      tags:
        - categories
      operationId: getCategories
      parameters:
        - name: householdId
          in: path
          required: true
          description: The unique identifier of the household.
          schema:
            type: string
            format: uuid
            example: "f3ce1a6b-aba1-478d-9f01-ec484f23ce60"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Category"
        "404":
          description: No household found with the specified ID.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        default:
          description: An error occurred - see status code and problem for more information.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    post:
      summary: Create a new category
      description: Creates a new expense category.
      tags:
        - categories
      operationId: createCategory
      parameters:
        - name: householdId
          in: path
          required: true
          description: The unique identifier of the household.
          schema:
            type: string
            format: uuid
            example: "f3ce1a6b-aba1-478d-9f01-ec484f23ce60"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Category"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Category"
        "400":
          description: The data for the new category is invalid.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        "404":
          description: No household found with the specified ID.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        "409":
          description: The category already exists.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        default:
          description: An error occurred - see status code and problem for more information.
          content:
            "application/problem+json":
              schema:
                $ref: '#/components/schemas/Problem'

  /household/{householdId}/expenses:
    get:
      summary: Get all expenses
      description: Returns all expenses for the specified household.
      tags:
        - expenses
      operationId: getExpenses
      parameters:
        - name: householdId
          in: path
          required: true
          description: The unique identifier of the household.
          schema:
            type: string
            format: uuid
            example: "f3ce1a6b-aba1-478d-9f01-ec484f23ce60"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Expense"
        "404":
          description: No household found with the specified ID.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        default:
          description: An error occurred - see status code and problem for more information.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    post:
      summary: Create a new expense
      description: Creates a new expense.
      tags:
        - expenses
      operationId: createExpense
      parameters:
        - name: householdId
          in: path
          required: true
          description: The unique identifier of the household.
          schema:
            type: string
            format: uuid
            example: "f3ce1a6b-aba1-478d-9f01-ec484f23ce60"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Expense"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Expense"
        "400":
          description: The data for the new expense is invalid.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        "404":
          description: No household found with the specified ID.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        default:
          description: An error occurred - see status code and problem for more information.
          content:
            "application/problem+json":
              schema:
                $ref: '#/components/schemas/Problem'
  /household/{householdId}/expenses/{expenseId}:
    get:
      summary: Get a specific expense
      description: Retrieves a specific expense.
      tags:
        - expenses
      operationId: getExpense
      parameters:
        - name: householdId
          in: path
          required: true
          description: The unique identifier of the household.
          schema:
            type: string
            format: uuid
            example: "f3ce1a6b-aba1-478d-9f01-ec484f23ce60"
        - name: expenseId
          in: path
          required: true
          description: The unique identifier of the expense.
          schema:
            type: string
            format: uuid
            example: "550e8400-e29b-41d4-a716-446655440000"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Expense"
        "404":
          description: No expense found with the specified ID.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        default:
          description: An error occurred - see the status code and problem for more information.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    patch:
      summary: Update an expense
      description: |
        Partially updates an expense. Only the fields provided in the request body will be updated.
        SECURITY: Only the user who created the expense (paidBy) is allowed to update it.
      tags:
        - expenses
      operationId: updateExpense
      parameters:
        - name: householdId
          in: path
          required: true
          description: The unique identifier of the household.
          schema:
            type: string
            format: uuid
            example: "f3ce1a6b-aba1-478d-9f01-ec484f23ce60"
        - name: expenseId
          in: path
          required: true
          description: The unique identifier of the expense.
          schema:
            type: string
            format: uuid
            example: "550e8400-e29b-41d4-a716-446655440000"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ExpenseUpdate"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Expense"
        "400":
          description: The data for updating the expense is invalid.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        "403":
          description: User is not authorized to update this expense.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        "404":
          description: No expense found with the specified ID.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        default:
          description: An error occurred - see status code and problem for more information.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    delete:
      summary: Delete an expense
      description: |
        Deletes an expense.
        SECURITY: Only the user who created the expense (paidBy) is allowed to delete it.
      tags:
        - expenses
      operationId: deleteExpense
      parameters:
        - name: householdId
          in: path
          required: true
          description: The unique identifier of the household.
          schema:
            type: string
            format: uuid
            example: "f3ce1a6b-aba1-478d-9f01-ec484f23ce60"
        - name: expenseId
          in: path
          required: true
          description: The unique identifier of the expense.
          schema:
            type: string
            format: uuid
            example: "550e8400-e29b-41d4-a716-446655440000"
      responses:
        "204":
          description: Expense successfully deleted.
        "403":
          description: User is not authorized to delete this expense.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        "404":
          description: No expense found with the specified ID.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        default:
          description: An error occurred - see status code and problem for more information.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'

  /household/{householdId}/reimbursements:
    get:
      summary: Get reimbursements
      description: |
        Retrieves a list of reimbursements.
        Useful for checking pending incoming payments or history.
      tags:
        - reimbursements
      operationId: getReimbursements
      parameters:
        - name: householdId
          in: path
          required: true
          description: The unique identifier of the household.
          schema:
            type: string
            format: uuid
        - name: creditorId
          in: query
          description: Filter by the user who receives the money.
          schema:
            type: string
            format: uuid
        - name: debtorId
          in: query
          description: Filter by the user who paid the money (debtor).
          schema:
            type: string
            format: uuid
        - name: status
          in: query
          description: Filter by status.
          schema:
            type: string
            enum: [PENDING, CONFIRMED, REJECTED]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Reimbursement"
        default:
          description: Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    post:
      summary: Create a reimbursement
      description: |
        Creates a new reimbursement record. Usually created by the debtor to indicate they have paid.
      tags:
        - reimbursements
      operationId: createReimbursement
      parameters:
        - name: householdId
          in: path
          required: true
          description: The unique identifier of the household.
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReimbursementCreate"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Reimbursement"
        "400":
          description: Invalid data.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        default:
          description: Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'

  /household/{householdId}/reimbursements/{reimbursementId}:
    patch:
      summary: Update a reimbursement
      description: |
        Update the status of a reimbursement (e.g., CONFIRM or REJECT).
        SECURITY: Only the creditor should be allowed to CONFIRM or REJECT.
      tags:
        - reimbursements
      operationId: updateReimbursement
      parameters:
        - name: householdId
          in: path
          required: true
          description: The unique identifier of the household.
          schema:
            type: string
            format: uuid
        - name: reimbursementId
          in: path
          required: true
          description: The unique identifier of the reimbursement.
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReimbursementUpdate"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Reimbursement"
        "403":
          description: Not authorized to update this reimbursement.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        "404":
          description: Reimbursement not found.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        default:
          description: Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'

  /household/{householdId}/statistics:
    get:
      summary: Get statistics for a household
      description: Returns aggregated statistics for the household over the specified time period, including expense breakdowns by category and member, and task completion counts per member.
      tags:
        - statistics
      operationId: getStatistics
      parameters:
        - name: householdId
          in: path
          required: true
          description: The unique identifier of the household.
          schema:
            type: string
            format: uuid
            example: "f3ce1a6b-aba1-478d-9f01-ec484f23ce60"
        - name: period
          in: query
          required: true
          description: The time period for the statistics.
          schema:
            type: string
            enum: [LAST_7_DAYS, LAST_14_DAYS, THIS_MONTH, LAST_3_MONTHS, LAST_6_MONTHS, THIS_YEAR, LAST_YEAR]
            example: "THIS_MONTH"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StatisticsResponse"
        "404":
          description: Household not found.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        default:
          description: An error occurred - see the status code and problem for more information.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'

  /household/{householdId}:
    patch:
      summary: Update household settings
      description: Updates the name of an existing household.
      tags:
        - household
      operationId: updateHousehold
      parameters:
        - name: householdId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HouseholdUpdate'
      responses:
        "200":
          description: Household updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Household'
        "404":
          description: Household not found.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        default:
          description: An error occurred.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    delete:
      summary: Delete a household
      description: Permanently deletes the household and all associated data.
      tags:
        - household
      operationId: deleteHousehold
      parameters:
        - name: householdId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: Household deleted.
        "404":
          description: Household not found.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        default:
          description: An error occurred.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'

  /household/{householdId}/invite:
    post:
      summary: Generate a new invite link
      description: Invalidates the current invite token and generates a new invite URL for the household.
      tags:
        - household
      operationId: generateInviteLink
      parameters:
        - name: householdId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: New invite URL generated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InviteResponse'
        "404":
          description: Household not found.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        default:
          description: An error occurred.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'

  /household/{householdId}/admin:
    put:
      summary: Transfer household ownership
      description: Transfers the household admin role to another member. The current admin loses their admin rights.
      tags:
        - household
      operationId: transferOwnership
      parameters:
        - name: householdId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferOwnershipRequest'
      responses:
        "200":
          description: Ownership transferred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Household'
        "404":
          description: Household or member not found.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        default:
          description: An error occurred.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'


  /household/{householdId}/members/{memberId}/password:
    put:
      summary: Change a member's password
      description: Changes the password for the specified member. Requires the current password for verification.
      tags:
        - household
      operationId: changePassword
      parameters:
        - name: householdId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: memberId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PasswordChangeRequest'
      responses:
        "204":
          description: Password changed.
        "403":
          description: Old password is incorrect.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        "404":
          description: Member not found.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        default:
          description: An error occurred.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'

  /household/{householdId}/members/{memberId}/account:
    delete:
      summary: Delete own account
      description: Permanently deletes the member's own account. If the member is the household admin, ownership must be transferred or the household deleted beforehand.
      tags:
        - household
      operationId: deleteAccount
      parameters:
        - name: householdId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: memberId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: Account deleted.
        "409":
          description: Member is still the household admin.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        "404":
          description: Member not found.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        default:
          description: An error occurred.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'

  /household/{householdId}/members/{memberId}/preferences:
    patch:
      summary: Save user preferences
      description: Persists the user's theme and language preferences on the server so they are restored on next login.
      tags:
        - household
      operationId: updatePreferences
      parameters:
        - name: householdId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: memberId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserPreferences'
      responses:
        "200":
          description: Preferences saved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserPreferences'
        "404":
          description: Member not found.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        default:
          description: An error occurred.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'

components:
  schemas:
    Problem:
      #$ref: 'https://opensource.zalando.com/restful-api-guidelines/models/problem-1.0.1.yaml#/Problem'
      type: object
      properties:
        type:
          type: string
          format: uri-reference
          description: >
            A URI reference that uniquely identifies the problem type only in the
            context of the provided API. Opposed to the specification in RFC-9457,
            it is neither recommended to be dereferenceable and point to a
            human-readable documentation nor globally unique for the problem type.
          default: 'about:blank'
          example: '/some/uri-reference'
        title:
          type: string
          description: >
            A short summary of the problem type. Written in English and readable
            for engineers, usually not suited for non technical stakeholders and
            not localized.
          example: some title for the error situation
        status:
          type: integer
          format: int32
          description: >
            The HTTP status code generated by the origin server for this occurrence
            of the problem.
          minimum: 100
          maximum: 600
          exclusiveMaximum: true
        detail:
          type: string
          description: >
            A human readable explanation specific to this occurrence of the
            problem that is helpful to locate the problem and give advice on how
            to proceed. Written in English and readable for engineers, usually not
            suited for non technical stakeholders and not localized.
          example: some description for the error situation
        instance:
          type: string
          format: uri-reference
          description: >
            A URI reference that identifies the specific occurrence of the problem,
            e.g. by adding a fragment identifier or sub-path to the problem type.
            May be used to locate the root of this problem in the source code.
          example: '/some/uri-reference#specific-occurrence-context'
    Household:
      type: object
      required:
        - id
        - name
        - admin
      properties:
        id:
          type: string
          format: uuid
          description: The unique identifier of the household. This must be generated by the client.
        name:
          type: string
          minLength: 3
          description: The name of the household.
        image:
          type: string
          format: base64
          description: A base64 encoded image representing the household.
        admin:
          type: string
          format: uuid
          description: The unique identifier of the admin member of the household. Since the household must be saved before members can be added, this must be the id of a member that will be created after the household is created.
      example:
        id: "f3ce1a6b-aba1-478d-9f01-ec484f23ce60"
        name: "My Household"
        image: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAFZ0lEQVR4AcyYSUgcQRSG/5lDAlkIISSBbIQEErJdAlnIcgiEJAQEL4IigogoHvSgB0VFRRA9CYKgKOrJi7gvIN4EFRU9iTsq4oqi4IKIosavoIdxMs60M2YRXnfNq/f+/+uuKg/tHBgYOJqZmTlaWFj4rwIm2Jw3btzQ2tqarl69qjt37vwXAQtMsDkvXLigJ0+eaGJiQltbW/rXfzDAAhNsToAgJsEEBeT+ReANAywwwWAAGZBgggIKyf3NwBNvGGCxvF2AJJiggEIayP2NwAtPvGFw9zwByAQFFNJAI7k/GXjghSfenl6/AVJAIQ00IkDuTwTaeOCFpzcPr4AU0kAjAgiRO89AE2088DpN+1RAGmhEACEEyZ1HoIUm2nj40vQJSCMCCCGIMLlgAg200ETbn5ZfQAQQQhBhDMgFEvSigRaadjRsASKEIMIYYETuLEEPvWigZbfXNiCCCGOAEYbk7AS19NCLhp0eq+ZMgDRhgBGGGJPzFdRQSw+9vmq9zZ0ZEBGMMMQYAHLegjlqqKXHW42/XECAiGKIMQCAkHMPcsxRQ6373FnGAQNigjEAgABEjmBMjjlqyAUaQQFiCgAgAAFGMCbHHDXBRNCAmAMCEGAEY3LMBRvnAhgshK/+cwF0X1beHm+RnC9ju3NBAwICEGAsK8GYHHN2QU6rCwoQAEAAAswyYUyOOWqsfCD3gAExBgAQgDzNyTFHDbWe83Z/BwSIIcYAACJ5t2OOGmrp8V7lO3tmQIwwxBgA3/IyHwSopYdef/We82cCxAAjDO3AWWbU0kMvGlbezv1UwJ2dHXV1deno6MjoIIzB/fv3dfwdRwcHByZv9wIkvTU1Ndrc3DzRhtfY2JhXzVMBU1JS9PnzZ+3t7ZlPIsA1Nzfr9u3bevbsma5fv67BwcETRv5+ZGdnKzY2VsPDw0aT+ry8PF2+fPlUTa+ATU1NKi0tpV/b29vmuw333NxcVVVVaXl5WSEhIfr586f29/dNnb+Lu6a13J2dncrMzPSp+Rvg4uKioqKiFBcXZzx5cwg2Njbq48ePio6ONm8xLS1NKysrZhtkZGTo27dvrrdSXl6uL1++aHV11Wh4al65csV8sCorK9P79++9aprG48sJwMPDQ1McHh6u0NDQ42kZIfYPy/Lp0yeT4/L48WNump6eVkJCgnp7e5Wenq7x8XHzcPTfvHlT7poRERGmhwuarMTTp09dD+auSQ1xArCoqEizs7NiKefm5pgXT8tgdHTU7DvGxKVLl3Tr1i2z4e/du6eKigoVFxfr69ev+v79uxITEymTpVlYWGh+u19YnUePHpktxCF017TqXIDHXzSVnJyssLAw1dXViaejqKOjQ0tLS3rx4oVZUnJWsMQsP7/pe/78uebn55Wfny+n0ylLMzIyUj09Perr66NU7pobGxtmlYAF0l2TYhcgh+D169dqaGhQZWWlqqurmVdOTo6GhobMXmH5TPL4AsjxTS9fvuSm2tpajYyMmLfKaeXfE5pv3rxRa2urOQzoUuypyXLzoPxbY97SZOwCfPjwodi07CX+fVhiPDkH4N27d2prazNPzzZISkoSy/PgwQNxCGJiYpSamipOa0tLizgor169Un9/vyt8aa6vr6ukpER37949sZUMIK+WV8xT8DSQOxwObq748eOHgGJ/8TDd3d0GxuFwCDgORFZWlnnTgMbHx2tqasrVz8Dh8K3JFqivr9fk5KTr4Dj5R+wJh9iHDx/EMl28eJGfcjgcZsPzcZulZI9aS9He3m5g2OQUFxQUmF7rVJIj7Gi+ffvWtSdhc2LI13TeIkvlL3Z3d3Xt2jVzcPzV2p331IQFJth+AQAA//9Opj3vAAAABklEQVQDAM9TAgNdiTbvAAAAAElFTkSuQmCC"
        admin: "7c3a40a8-3f57-4645-8cf5-820a6a8d3613"
    Member:
      type: object
      required:
        - id
        - name
        - email
      properties:
        id:
          type: string
          format: uuid
          description: The unique identifier of the member.
        name:
          type: string
          description: The name of the member.
        email:
          type: string
          format: email
          description: The email address of the member.
        avatar:
          type: string
          format: base64
          description: A base64 encoded image representing the member's avatar.
      example:
        id: "7c3a40a8-3f57-4645-8cf5-820a6a8d3613"
        name: "John Doe"
        email: "john.doe@example.org"
        avatar: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAFZ0lEQVR4AcyYSUgcQRSG/5lDAlkIISSBbIQEErJdAlnIcgiEJAQEL4IigogoHvSgB0VFRRA9CYKgKOrJi7gvIN4EFRU9iTsq4oqi4IKIosavoIdxMs60M2YRXnfNq/f+/+uuKg/tHBgYOJqZmTlaWFj4rwIm2Jw3btzQ2tqarl69qjt37vwXAQtMsDkvXLigJ0+eaGJiQltbW/rXfzDAAhNsToAgJsEEBeT+ReANAywwwWAAGZBgggIKyf3NwBNvGGCxvF2AJJiggEIayP2NwAtPvGFw9zwByAQFFNJAI7k/GXjghSfenl6/AVJAIQ00IkDuTwTaeOCFpzcPr4AU0kAjAgiRO89AE2088DpN+1RAGmhEACEEyZ1HoIUm2nj40vQJSCMCCCGIMLlgAg200ETbn5ZfQAQQQhBhDMgFEvSigRaadjRsASKEIMIYYETuLEEPvWigZbfXNiCCCGOAEYbk7AS19NCLhp0eq+ZMgDRhgBGGGJPzFdRQSw+9vmq9zZ0ZEBGMMMQYAHLegjlqqKXHW42/XECAiGKIMQCAkHMPcsxRQ6373FnGAQNigjEAgABEjmBMjjlqyAUaQQFiCgAgAAFGMCbHHDXBRNCAmAMCEGAEY3LMBRvnAhgshK/+cwF0X1beHm+RnC9ju3NBAwICEGAsK8GYHHN2QU6rCwoQAEAAAswyYUyOOWqsfCD3gAExBgAQgDzNyTFHDbWe83Z/BwSIIcYAACJ5t2OOGmrp8V7lO3tmQIwwxBgA3/IyHwSopYdef/We82cCxAAjDO3AWWbU0kMvGlbezv1UwJ2dHXV1deno6MjoIIzB/fv3dfwdRwcHByZv9wIkvTU1Ndrc3DzRhtfY2JhXzVMBU1JS9PnzZ+3t7ZlPIsA1Nzfr9u3bevbsma5fv67BwcETRv5+ZGdnKzY2VsPDw0aT+ry8PF2+fPlUTa+ATU1NKi0tpV/b29vmuw333NxcVVVVaXl5WSEhIfr586f29/dNnb+Lu6a13J2dncrMzPSp+Rvg4uKioqKiFBcXZzx5cwg2Njbq48ePio6ONm8xLS1NKysrZhtkZGTo27dvrrdSXl6uL1++aHV11Wh4al65csV8sCorK9P79++9aprG48sJwMPDQ1McHh6u0NDQ42kZIfYPy/Lp0yeT4/L48WNump6eVkJCgnp7e5Wenq7x8XHzcPTfvHlT7poRERGmhwuarMTTp09dD+auSQ1xArCoqEizs7NiKefm5pgXT8tgdHTU7DvGxKVLl3Tr1i2z4e/du6eKigoVFxfr69ev+v79uxITEymTpVlYWGh+u19YnUePHpktxCF017TqXIDHXzSVnJyssLAw1dXViaejqKOjQ0tLS3rx4oVZUnJWsMQsP7/pe/78uebn55Wfny+n0ylLMzIyUj09Perr66NU7pobGxtmlYAF0l2TYhcgh+D169dqaGhQZWWlqqurmVdOTo6GhobMXmH5TPL4AsjxTS9fvuSm2tpajYyMmLfKaeXfE5pv3rxRa2urOQzoUuypyXLzoPxbY97SZOwCfPjwodi07CX+fVhiPDkH4N27d2prazNPzzZISkoSy/PgwQNxCGJiYpSamipOa0tLizgor169Un9/vyt8aa6vr6ukpER37949sZUMIK+WV8xT8DSQOxwObq748eOHgGJ/8TDd3d0GxuFwCDgORFZWlnnTgMbHx2tqasrVz8Dh8K3JFqivr9fk5KTr4Dj5R+wJh9iHDx/EMl28eJGfcjgcZsPzcZulZI9aS9He3m5g2OQUFxQUmF7rVJIj7Gi+ffvWtSdhc2LI13TeIkvlL3Z3d3Xt2jVzcPzV2p331IQFJth+AQAA//9Opj3vAAAABklEQVQDAM9TAgNdiTbvAAAAAElFTkSuQmCC"
    Task:
      type: object
      required:
        - id
        - title
        - dueDate
      properties:
        id:
          type: string
          format: uuid
          description: The unique identifier of the task. This must be generated by the client.
        title:
          type: string
          minLength: 3
          description: The title of the task.
        assignedTo:
          type: string
          format: uuid
          description: The id of the user the task is assigned to.
        description:
          type: string
          description: A detailed description of the task.
        dueDate:
          type: string
          format: date
          description: The due date of the task or if it's a recurring task, the first due date.
        recurring:
          type: boolean
          description: Indicates if the task is recurring.
        recurrenceUnit:
          type: string
          enum:
            - days
            - weeks
            - months
            - years
          description: The unit of recurrence for the task. Required if the task is recurring.
        recurrenceInterval:
          type: integer
          minimum: 1
          description: The interval of recurrence for the task. Required if the task is recurring.
        done:
          type: string
          format: date
          description: |
            The date when the task was completed. Null if the task is not yet completed.
            If the task is recurring, the task is done for the moment if the done date is after the last due date.
      example:
        id: "760e8400-e29b-41d4-a716-446655440000"
        title: "Take out the trash"
        assignedTo: "7c3a40a8-3f57-4645-8cf5-820a6a8d3613"
        description: "Take out the trash."
        dueDate: "2024-07-01"
        recurring: true
        recurrenceUnit: "weeks"
        recurrenceInterval: 1
        done: null
    TaskUpdate:
      type: object
      description: Object containing the fields to update for a task. All fields are optional.
      properties:
        done:
          type: string
          format: date
          nullable: true
          description: |
            The date when the task was completed. Set to null to mark the task as not completed.
      example:
        done: "2024-07-01"

    Category:
      type: object
      required:
        - id
        - name
      properties:
        id:
          type: string
          format: uuid
          description: The unique identifier of the category. This must be generated by the client.
        name:
          type: string
          minLength: 2
          maxLength: 50
          description: The name of the category.
        icon:
          type: string
          description: Optional icon identifier for the category (e.g., emoji or icon name).
      example:
        id: "660e8400-e29b-41d4-a716-446655440001"
        name: "Groceries"
        icon: "🛒"

    Expense:
      type: object
      required:
        - id
        - title
        - amount
        - paidBy
        - date
        - categoryId
      properties:
        id:
          type: string
          format: uuid
          description: The unique identifier of the expense. This must be generated by the client.
        title:
          type: string
          minLength: 3
          description: The title/description of the expense.
        amount:
          type: number
          format: double
          minimum: 0.01
          description: The amount of money spent.
        paidBy:
          type: string
          format: uuid
          description: The id of the member who paid for the expense.
        date:
          type: string
          format: date
          description: The date when the expense occurred.
        categoryId:
          type: string
          format: uuid
          description: The id of the category this expense belongs to.
        splitBetween:
          type: array
          items:
            type: string
            format: uuid
          description: |
            Array of member IDs between whom the expense should be split.
            If empty or not provided, the expense is split equally among all household members.
        notes:
          type: string
          description: Additional notes about the expense.
        isMutable:
          type: boolean
          readOnly: true
          description: |
            Indicates if the expense can still be edited or deleted.
            An expense becomes immutable once it is covered (fully or partially) by a confirmed or pending reimbursement.
            This value is calculated by the backend.
      example:
        id: "550e8400-e29b-41d4-a716-446655440000"
        title: "Grocery shopping at Lidl"
        amount: 45.50
        paidBy: "7c3a40a8-3f57-4645-8cf5-820a6a8d3613"
        date: "2024-12-06"
        categoryId: "660e8400-e29b-41d4-a716-446655440001"
        splitBetween: ["7c3a40a8-3f57-4645-8cf5-820a6a8d3613", "8d4b51b9-4f68-5756-9df6-931b7b9e4724"]
        notes: "Weekly groceries"

    ExpenseUpdate:
      type: object
      description: Object containing the fields to update for an expense. All fields are optional.
      properties:
        title:
          type: string
          minLength: 3
          description: The title/description of the expense.
        amount:
          type: number
          format: double
          minimum: 0.01
          description: The amount of money spent.
        paidBy:
          type: string
          format: uuid
          description: The id of the member who paid for the expense.
        date:
          type: string
          format: date
          description: The date when the expense occurred.
        categoryId:
          type: string
          format: uuid
          description: The id of the category this expense belongs to.
        splitBetween:
          type: array
          items:
            type: string
            format: uuid
          description: |
            Array of member IDs between whom the expense should be split.
            If empty or not provided, the expense is split equally among all household members.
        notes:
          type: string
          description: Additional notes about the expense.
      example:
        title: "Updated grocery shopping"
        amount: 50.00
        categoryId: "660e8400-e29b-41d4-a716-446655440001"

    FinancialSummary:
      type: object
      required:
        - youOwe
        - owedToYou
      properties:
        youOwe:
          type: number
          format: double
          description: Total amount the current user owes to others.
        owedToYou:
          type: number
          format: double
          description: Total amount others owe to the current user.

    MemberBalance:
      type: object
      required:
        - memberId
        - balance
      properties:
        memberId:
          type: string
          format: uuid
          description: The ID of the other member.
        balance:
          type: number
          format: double
          description: The balance with this member. Positive means they owe the current user, negative means current user owes them.
        pendingBalance:
          type: number
          format: double
          description: The amount that is pending confirmation (e.g., user paid but not confirmed yet). Positive means pending incoming payment, negative means pending outgoing payment.

    Reimbursement:
      type: object
      required:
        - id
        - amount
        - creditorId
        - debtorId
        - status
      properties:
        id:
          type: string
          format: uuid
          description: The unique identifier of the reimbursement. This must be generated by the client.
        amount:
          type: number
          format: double
          minimum: 0.01
          description: The amount of money to be reimbursed.
        creditorId:
          type: string
          format: uuid
          description: The id of the member who is to receive the reimbursement.
        debtorId:
          type: string
          format: uuid
          description: The id of the member who owes the reimbursement.
        status:
          type: string
          enum: [PENDING, CONFIRMED, REJECTED]
          description: The status of the reimbursement.
        notes:
          type: string
          description: Optional notes about the reimbursement.
      example:
        id: "123e4567-e89b-12d3-a456-426614174000"
        amount: 20.00
        creditorId: "7c3a40a8-3f57-4645-8cf5-820a6a8d3613"
        debtorId: "8d4b51b9-4f68-5756-9df6-931b7b9e4724"
        status: "PENDING"
        notes: "Reimbursement for dinner"

    ReimbursementCreate:
      type: object
      required:
        - amount
        - creditorId
        - debtorId
      properties:
        amount:
          type: number
          format: double
          minimum: 0.01
          description: The amount of money to be reimbursed.
        creditorId:
          type: string
          format: uuid
          description: The id of the member who is to receive the reimbursement.
        debtorId:
          type: string
          format: uuid
          description: The id of the member who owes the reimbursement.
        notes:
          type: string
          description: Optional notes about the reimbursement.
      example:
        amount: 20.00
        creditorId: "7c3a40a8-3f57-4645-8cf5-820a6a8d3613"
        debtorId: "8d4b51b9-4f68-5756-9df6-931b7b9e4724"
        notes: "Reimbursement for dinner"

    ReimbursementUpdate:
      type: object
      properties:
        status:
          type: string
          enum: [PENDING, CONFIRMED, REJECTED]
          description: The status of the reimbursement.
        notes:
          type: string
          description: Optional notes about the reimbursement.
      example:
        status: "CONFIRMED"
        notes: "Payment received"

    StatisticsPeriod:
      type: string
      enum: [LAST_7_DAYS, LAST_14_DAYS, THIS_MONTH, LAST_3_MONTHS, LAST_6_MONTHS, THIS_YEAR, LAST_YEAR]
      description: The time period covered by the statistics.
      example: "THIS_MONTH"

    ExpenseStatsByCategory:
      type: object
      required:
        - categoryId
        - categoryName
        - total
        - avgPerMonth
      properties:
        categoryId:
          type: string
          format: uuid
          description: The unique identifier of the category.
          example: "660e8400-e29b-41d4-a716-446655440001"
        categoryName:
          type: string
          description: The display name of the category.
          example: "Lebensmittel"
        categoryIcon:
          type: string
          description: Optional icon identifier of the category (e.g., emoji).
          example: "🛒"
        total:
          type: number
          format: double
          description: Total amount spent in this category during the period.
          example: 245.80
        avgPerMonth:
          type: number
          format: double
          description: Average amount spent per month in this category. Equals total for single-month periods.
          example: 61.45

    ExpenseStatsByMember:
      type: object
      required:
        - memberId
        - memberName
        - total
        - avgPerMonth
      properties:
        memberId:
          type: string
          format: uuid
          description: The unique identifier of the member.
          example: "7c3a40a8-3f57-4645-8cf5-820a6a8d3613"
        memberName:
          type: string
          description: The display name of the member.
          example: "Alice"
        total:
          type: number
          format: double
          description: Total amount spent by this member during the period.
          example: 312.40
        avgPerMonth:
          type: number
          format: double
          description: Average amount spent per month by this member. Equals total for single-month periods.
          example: 104.13

    TaskStatsByMember:
      type: object
      required:
        - memberId
        - memberName
        - done
        - open
      properties:
        memberId:
          type: string
          format: uuid
          description: The unique identifier of the member.
          example: "7c3a40a8-3f57-4645-8cf5-820a6a8d3613"
        memberName:
          type: string
          description: The display name of the member.
          example: "Alice"
        done:
          type: integer
          minimum: 0
          description: Number of tasks completed by this member during the period.
          example: 8
        open:
          type: integer
          minimum: 0
          description: Number of tasks currently open and assigned to this member.
          example: 3

    StatisticsResponse:
      type: object
      required:
        - period
        - periodStart
        - periodEnd
        - totalExpenses
        - avgExpensesPerMonth
        - expensesByCategory
        - expensesByMember
        - tasksByMember
      properties:
        period:
          $ref: "#/components/schemas/StatisticsPeriod"
        periodStart:
          type: string
          format: date
          description: Start date of the statistics period (inclusive).
          example: "2025-03-01"
        periodEnd:
          type: string
          format: date
          description: End date of the statistics period (inclusive).
          example: "2025-03-31"
        totalExpenses:
          type: number
          format: double
          description: Total expenses across all members and categories during the period.
          example: 558.70
        avgExpensesPerMonth:
          type: number
          format: double
          description: Average total expenses per month. Equals totalExpenses for single-month periods.
          example: 186.23
        expensesByCategory:
          type: array
          description: Expense breakdown per category, sorted by total descending.
          items:
            $ref: "#/components/schemas/ExpenseStatsByCategory"
        expensesByMember:
          type: array
          description: Expense breakdown per member, sorted by total descending.
          items:
            $ref: "#/components/schemas/ExpenseStatsByMember"
        tasksByMember:
          type: array
          description: Task completion counts per member, sorted by done descending.
          items:
            $ref: "#/components/schemas/TaskStatsByMember"
      example:
        period: "THIS_MONTH"
        periodStart: "2025-03-01"
        periodEnd: "2025-03-31"
        totalExpenses: 558.70
        avgExpensesPerMonth: 558.70
        expensesByCategory:
          - categoryId: "660e8400-e29b-41d4-a716-446655440001"
            categoryName: "Lebensmittel"
            categoryIcon: "🛒"
            total: 245.80
            avgPerMonth: 245.80
          - categoryId: "660e8400-e29b-41d4-a716-446655440002"
            categoryName: "Haushalt"
            categoryIcon: "🏠"
            total: 120.00
            avgPerMonth: 120.00
        expensesByMember:
          - memberId: "7c3a40a8-3f57-4645-8cf5-820a6a8d3613"
            memberName: "Alice"
            total: 312.40
            avgPerMonth: 312.40
          - memberId: "8d4b51b9-4f68-5756-9df6-931b7b9e4724"
            memberName: "Bob"
            total: 246.30
            avgPerMonth: 246.30
        tasksByMember:
          - memberId: "7c3a40a8-3f57-4645-8cf5-820a6a8d3613"
            memberName: "Alice"
            done: 8
            open: 3
          - memberId: "8d4b51b9-4f68-5756-9df6-931b7b9e4724"
            memberName: "Bob"
            done: 5
            open: 7

    HouseholdUpdate:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          minLength: 3
          example: "Mustermann Family"

    InviteResponse:
      type: object
      required:
        - inviteUrl
      properties:
        inviteUrl:
          type: string
          format: uri
          example: "https://app.example.com/invite/f3ce1a6b-aba1-478d-9f01-ec484f23ce60"

    TransferOwnershipRequest:
      type: object
      required:
        - memberId
      properties:
        memberId:
          type: string
          format: uuid
          description: The ID of the member to transfer ownership to.
          example: "7c3a40a8-3f57-4645-8cf5-820a6a8d3613"

    MemberUpdate:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          example: "Jane Doe"
        email:
          type: string
          format: email
          example: "jane.doe@example.com"

    PasswordChangeRequest:
      type: object
      required:
        - oldPassword
        - newPassword
      properties:
        oldPassword:
          type: string
          format: password
          example: "oldSecurePassword123"
        newPassword:
          type: string
          format: password
          minLength: 8
          example: "newSecurePassword456"

    UserPreferences:
      type: object
      properties:
        theme:
          type: string
          enum: [light, dark]
          example: "dark"
        language:
          type: string
          enum: [en, de]
          example: "de"
