openapi: 3.1.0
info:
  title: LibreHousehold API
  description: "This API allows interaction with the backend of LibreHousehold, an open-source household management system."
  version: 1.0.0
  contact:
    name: LibreHousehold Maintainer Nicklas
    url: https://librehousehold.wiegandt.eu
    email: nicklas+librehousehold@wiegandt.eu
servers:
  - url: https://api.librehousehold.wiegandt.eu/v1
    description: The production server for LibreHousehold API
  - url: http://localhost
    description: Local development mokapi server
tags:
  - name: household
    description: Operations related to households
paths:
  /household:
    post:
      summary: Create a new household
      description: Creates a new household and sends a mail to the specified email address for the admin of the household.
      tags:
        - household
      operationId: createHousehold
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Household"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Household"
        "400":
          description: The data for the new household is invalid.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        "409":
          description: The household already exists.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        default:
          description: An error occurred - see the status code and problem for more information.
          content:
            "application/problem+json":
              schema:
                $ref: '#/components/schemas/Problem'
components:
  schemas:
    Problem:
      #$ref: 'https://opensource.zalando.com/restful-api-guidelines/models/problem-1.0.1.yaml#/Problem'
      type: object
      properties:
        type:
          type: string
          format: uri-reference
          description: >
            A URI reference that uniquely identifies the problem type only in the
            context of the provided API. Opposed to the specification in RFC-9457,
            it is neither recommended to be dereferenceable and point to a
            human-readable documentation nor globally unique for the problem type.
          default: 'about:blank'
          example: '/some/uri-reference'
        title:
          type: string
          description: >
            A short summary of the problem type. Written in English and readable
            for engineers, usually not suited for non technical stakeholders and
            not localized.
          example: some title for the error situation
        status:
          type: integer
          format: int32
          description: >
            The HTTP status code generated by the origin server for this occurrence
            of the problem.
          minimum: 100
          maximum: 600
          exclusiveMaximum: true
        detail:
          type: string
          description: >
            A human readable explanation specific to this occurrence of the
            problem that is helpful to locate the problem and give advice on how
            to proceed. Written in English and readable for engineers, usually not
            suited for non technical stakeholders and not localized.
          example: some description for the error situation
        instance:
          type: string
          format: uri-reference
          description: >
            A URI reference that identifies the specific occurrence of the problem,
            e.g. by adding a fragment identifier or sub-path to the problem type.
            May be used to locate the root of this problem in the source code.
          example: '/some/uri-reference#specific-occurrence-context'
    Admin:
      type: object
      required:
        - email
        - name
      properties:
        email:
          type: string
          format: email
          description: The unique email address of the admin use.
        name:
          type: string
          description: The name of the admin user.
    Household:
      type: object
      required:
        - id
        - name
        - admin
      properties:
        id:
          type: string
          format: uuid
          description: The unique identifier of the household. This must be generated by the client.
        name:
          type: string
          description: The name of the household.
        image:
          type: string
          format: base64
          description: A base64 encoded image representing the household.
        admin:
          type: object
          description: The admin user of the household.
          schema:
            $ref: "#/components/schemas/Admin"